body{
    background-image: url(../img/ESTUDIO-6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
}

/****** CAMBIAR FOTO DE PERFIL DISEÑO INPUT ******/
.perfil-img {
    width: 150px; /* alto y ancho específico para que el círculo sea redondo */
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; /* oculta todo el contenido fuera de la caja */
    position: relative;
}
#fotoPerfil{
    padding: 20px 0 25px;
}
.perfil-img .file {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 10px;
    background: #212529b8;
    color: #fff;
    text-align: center;
    padding: 20px 0 10px;
    cursor: pointer; /* manita de selección al hacer hover */
}
.perfil-img .file input {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer; /* manita de selección al hacer hover */
}
.perfil-edit{
    font-size: 40px;
}
.perfil-input{
    background-color: #343a40;
    height: 39px;
    width: 200px;
    font-size: 25px;
    position: relative;
    top: 15px;
    left: 45px;
}
.eliminar_foto {
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 0px;
    font-size: 10px;
    text-align: center;
    padding: 24px 0 12px;
    cursor: pointer;
    border: transparent;
}
.eliminar_foto:hover {
    opacity: 1;
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 0px;
    font-size: 10px;
    background: #a74040b8;
    color: #fff;
    text-align: center;
    padding: 24px 0 12px;
    cursor: pointer;
    border: transparent;
}
.table-dark{
    background-color: rgba(31, 4, 24, 0.9);
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background-color: rgba(78, 52, 85, 0.9);
}