/* body{
    background-image: url(../img/ESTUDIO-6.jpg);
    background-repeat: repeat;
    background-size: 100% ;
    color: #FFFFFF;
} */

/****** CAMBIAR FOTO DE PERFIL DISEÑO INPUT ******/
.perfil-img {
    width: 130px; /* alto y ancho específico para que el círculo sea redondo */
    height: 125px;
    border-radius: 50%; 
    overflow: hidden; /* oculta todo el contenido fuera de la caja */
    position: relative;
}
.perfil-img .file {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 10px;
    background: #212529b8;
    color: #fff;
    text-align: center;
    padding: 10px 0 10px;
    cursor: pointer; /* manita de selección al hacer hover */
}
.perfil-img .file input {
    padding: 30px 0 25px;
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer; /* manita de selección al hacer hover */
}
.perfil-edit{
    font-size: 40px;
}
.perfil-input{
    background-color: #343a40;
    height: 39px;
    width: 200px;
    font-size: 25px;
    position: relative;
    top: 15px;
    left: 45px;
}
.tomar_foto {
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 85px;
    left: 0px;
    font-size: 10px;
    text-align: center;
    padding: 20px 0 9px;
    cursor: pointer;
    border: transparent;
}
.tomar_foto:hover {
    opacity: 1;
    background: #212529b8;
    color: #fff;
}

/*****************************************************/

/******************************/
/*    SCROLL DISEÑO          */
table{
    /* background-color: rgba(31, 4, 24, 0.9); */
}
table thead{
    /* background-color: #22081c; */
    /* position: -webkit-sticky; */
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    /* top: -20px; */
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    /* background-color: rgba(78, 52, 85, 0.9); */
    background-color: rgba(199, 199, 199, 0.9);
}
td{
  font-size: 12px !important;
}
th{
  font-size: 15px !important;
}

.scroll{
  height: auto;
  /* min-height: 200px; */
  max-height: 400px;
  overflow-y:auto;
  overflow-x:auto;
}
/******************************/

.form-control{
    /* background-color: rgba(78, 52, 85, 0.9) !important; */
    /* color: #fff !important; */
}
textarea{
    /* background-color: rgba(78, 52, 85, 0.9) !important;
    color: #fff !important; */
}
.mt-datos{
    margin-top: 5% !important;
}
/*********** PARA CELULARES *************/
@media screen and (max-width: 600px){
    .mt-datos{
        margin-top: 0% !important;
    }
}
